.Button{
    background: transparent;
    border: 1px solid;
    border-radius: .3em;
    color: #222;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    margin: 6px;
}

.Button:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.Button--variant-primary{
    background: rgb(187, 14, 14);
    color: #fff;
}

.Button--variant-secondary{
    background: green;
    color: #fff;
}

.Button--variant-useless:hover {
    text-decoration: none;
}