.Menu {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Menu .icon {
    width: 50px;
    height: 50px;
}

.Menu .desk {
    display: none;
}

.Menu .logo {
    width: 110px;
}

.Menu .user {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.Menu button {
    background-color: transparent;
    border: none;
    
}

@media only screen and (min-width: 800px) {
    .Menu {
        left: 0;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: fit-content;
        z-index: 0;
    }

    .Menu .desk {
        display: block;
    }
}
