.Button{
    background: transparent;
    border: 1px solid;
    border-radius: .3em;
    color: #fff;
    cursor: pointer;
    padding: .4em .6em;
    transition: all .3s;
}

.Button:hover{
    text-decoration: underline;
}

.Button--variant-primary:hover{
    background: rgb(255, 0, 81);   
    border: none;
    color:#202124 ;
    transform: scale(1.2);
}

.Button--variant-secondary:hover{
    background: rgb(3, 233, 30);
    border: none;
    color:#202124 ;
    transform: scale(1.2);
}
