.App {
  margin: 2rem auto;
  width: min(80%, 60rem);
}

button {
  border: none;
  box-shadow: 3px 3px 4px black;
  padding: 10px 16px;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgb(150, 150, 150);
}

select {
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  outline-color: red;
}