.List {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    gap: 20px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      border-radius: 16px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.447);
      background-color: rgba(204, 204, 204, 0.521);
    }

    button {
      cursor: pointer;
      border: none;
      padding: 8px 12px;
      border-radius: 8px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.583);
    }
  }