.Section {
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(13, 209, 243);

    p {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
    }
}