.Section {
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(13, 209, 243);

    .ButtonDiv {
        display: flex;
        gap: 20px;
    }
}