.FriendsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    margin-top: -90px;
    margin-bottom: 110px;
    padding: 20px;
    overflow: scroll;
}

.FriendsList .search__div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.div__friends {
    display: flex;
    overflow: scroll;

}

@media only screen and (min-width: 800px) {

    .FriendsList {
        background-color: white;
        height: 100%;
        position: fixed;
        right: 0;
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
    }

    .div__friends {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .FriendsList__text {
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 280px;
        justify-content: space-between;
        margin-top: -20px;
        padding: 20px;
        padding-bottom: 30px;
    }

    .FriendsList p {
        font-size: 0.7rem;
        margin-top: 0;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }



}