html, body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, rgba(85,80,162,0.2231267507002801) 0%, rgba(187,253,45,0.16430322128851538) 100%);
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 30px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 350px;
    border-radius: 16px;
    padding: 20px 40px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.448);
}

.card img {
width: 130px;
height: 130px;
border-radius:100%;
margin: 20px;
object-fit: cover;
background-color: rgba(255, 252, 252, 0.694);
padding: 20px;
}

.card p{
    background-color: rgba(102, 102, 102, 0.306);
    border-radius: 13px;
    padding: 8px;
}

.card h1 {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: -20px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.card h5 {
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 400;
}

/* utilities */
.bg-grass {
    background-color: #DEFDE0;
}

.bg-electric {
    background-color: #FCF7DE;
}

.bg-water {
    background-color: #DEF3FD;
}

.bg-ground {
    background-color: #f4e7da;
}

.bg-rock {
    background-color: #d5d5d4;
}

.bg-fairy {
    background-color: #fceaff;
}

.bg-poison {
    background-color: #98d7a5;
}

.bg-bug {
    background-color: #f8d5a3;
}

.bg-dragon {
    background-color: #97b3e6;
}

.bg-psychic {
    background-color: #eaeda1;
}

.bg-flying {
    background-color: #F5F5F5;
}

.bg-fighting {
    background-color: #E6E0D4;
}

.bg-normal {
    background-color: #F5F5F5;
}

.bg-fire {
    background-color: #FDDFDF;
}

.bg-ghost {
    background-color: #705898;
}

.bg-ice {
    background-color: #98d8d8;
}
