.users {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 30px 0;
    height: 430px;
}

.loading-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
  }

.avatar--default {
    position: relative;
    overflow: hidden;
    width: 130px;
    height: 130px;
  }
  .avatar--default::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 70%;
    height: 44%;
    margin: 0 0 0 -35%;
    border-radius: 100% 100% 0 0;
  }
  .avatar--default::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 19%;
    width: 40%;
    height: 40%;
    margin: 0 0 0 -20%;
    border-radius: 50%;
  }

  .avatar--default.default--two {
    background-color: #f2f2f2;
    border-radius: 50%;
  }
  .avatar--default.default--two::before {
    background-color: #999;
  }
  .avatar--default.default--two::after {
    background-color: #999;
    box-shadow: 0 0 0 4px #f2f2f2;
  }